.banner-container {
    background-image: url("https://img.freepik.com/free-photo/crop-plate-with-salad_23-2147753678.jpg?w=1380&t=st=1683207535~exp=1683208135~hmac=655e803d25abd8dfd46aae79d6989a1c2bca8e0dccd8a762f639ba5366b0a49f");
    height: 600px;
    background-size: cover;
}